---
import Layout from '../../layouts/Layout.astro';
import MedTimerDisplay from '../../components/MedTimer.js';
import MedResetButton from '../../components/MedTimerReset.js';

const medicationName1 = "DES_XL_SLP";
const medicationName2 = "DES_IR_SLP";
const medicationName3 = "DES_OTH_SLP";
const medicationName4 = "DES_DRST";
---

<Layout title="des meds - kevinatruong">
	<div class="flex flex-col gap-4">
        <h1 id="title">TIME SINCE DESIREE TOOK HER MEDICATION</h1>

        <div class="flex flex-col gap-4">
            <h2>RITALIN XR</h2>
            <MedTimerDisplay client:load medName={medicationName1} />
            <MedResetButton client:load medName={medicationName1} minWaitTime={(16)*60*60} />

            <h2>RITALIN IR</h2>
            <MedTimerDisplay client:load medName={medicationName2} />
            <MedResetButton client:load medName={medicationName2} minWaitTime={(4)*60*60} />
            
            <h2>CYTOMEL</h2>
            <MedTimerDisplay client:load medName={medicationName3} />
            <MedResetButton client:load medName={medicationName3} minWaitTime={(16)*60*60} />
            
            <h2>ABILIFY</h2>
            <MedTimerDisplay client:load medName={medicationName4} />
            <MedResetButton client:load medName={medicationName4} minWaitTime={(16)*60*60} />
            
        </div>
	</div>
</Layout>

<style is:inline>
  .navdiv {
    display: none;
  }
  .contentdiv {
    width: 100%;
  }
</style>
